.#{$rt-namespace}__toast {
    position: relative;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    font-family: $rt-font-family;
    max-height: 0px;
    transition: max-height 800ms, position 800ms, width 800ms, margin-bottom 800ms;
    width: calc(100% - 40px);
    &:nth-last-child(1){
        max-height: none;
        width: 100%;
        margin-bottom: 5px;
        .#{$rt-namespace}__toast-content{
            height: auto;
            &::after {
                display: none;
            }
        }
    }
    &:nth-last-child(2){
        width: calc(100% - 10px);
        margin-bottom: 5px;
        margin-top: -59px;
    }
    &:nth-last-child(3){
        width: calc(100% - 20px);
        margin-bottom: 5px;
    }
    &:nth-last-child(4){
        width: calc(100% - 30px);
        margin-bottom: 5px;
    }
    &--rtl {
        direction: rtl;
    }
    &--default {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-default;
            color: $rt-text-color-default;
            &::after{
                background: $rt-color-default;
            }
        }
    }
    &--info {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-info;
            &::after{
                background: $rt-color-info;
            }
        }
    }
    &--success {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-success;
            &::after{
                background: $rt-color-success;
            }
        }
    }
    &--warning {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-warning;
            &::after{
                background: $rt-color-warning;
            }
        }
    }
    &--error {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-error;
            &::after{
                background: $rt-color-error;
            }
        }
    }
    &-body {
        margin: auto 0;
        flex: 1;
    }
    &-content {
        min-height: $rt-toast-min-height;
        max-height: $rt-toast-max-height;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 8px;
        border-radius: 1px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
        cursor: pointer;
        direction: ltr;
        height: $rt-toast-min-height;
        position: relative;
        &::after{
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            height: 20px;
            bottom: 0;
        }
    }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast{
    margin-bottom: 0;  
  }
}