.#{$rt-namespace}__toast {
    position: relative;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    font-family: $rt-font-family;
    max-height: 0px;
    transition: max-height, margin-bottom 200ms;
    width: 100%;
    &--rtl {
        direction: rtl;
    }
    &--default {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-default;
            color: $rt-text-color-default;
        }
    }
    &--info {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-info;
        }
    }
    &--success {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-success;
        }
    }
    &--warning {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-warning;
        }
    }
    &--error {
        .#{$rt-namespace}__toast-content {
            background: $rt-color-error;
        }
    }
    &-body {
        margin: auto 0;
        flex: 1;
    }
    &-content {
        min-height: $rt-toast-min-height;
        max-height: $rt-toast-max-height;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 8px;
        border-radius: 1px;
        box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .1), 0 2px 15px 0 rgba(0, 0, 0, .05);
        cursor: pointer;
        direction: ltr;
    }
}

@media #{$rt-mobile} {
  .#{$rt-namespace}__toast{
    margin-bottom: 0;  
  }
}